package varotra;

public class nomtable{
    attribu
    public nomtable(){}

    debutC
    @annotationsetteurs
    public void setColonne( Type a){
        Colonne=a;
    }

    @annotationgetteurs
    public Type getColonne(){
        return Colonne;
    }
    finC
}