/home/mertina/Bureau/L3/S5/Mrtovo/commerce/src/main/java/com/pack/commerce/Repository
package com.pack.commerce.Repository;
import com.pack.commerce.Entity.nomtable;
import org.springframework.data.jpa.repository.JpaRepository;
public interface nomtableRepository  extends JpaRepository<nomtable,Long>{
    
}
